.main-container {
  padding: 0px 0px 0px 3%;
  position: relative;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.title-wrap {
  margin-top: 30px;
}

.title-wrap .title {
  width: 596px;
  height: 82px;
  left: 53px;
  top: 261px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;

  color: #04474a;
}

.title-wrap .subTitle {
  width: 452px;
  height: 55px;
  left: 53px;
  top: 349px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #009942;
}

.enter-code-text {
  width: 558px;
  height: 82px;
  left: 53px;
  top: 468px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;

  color: #415aa6;
}

.main-wrapper form .code-input-wrap {
  width: 50px;
  height: 100px;
  margin-top: 20px;
}

.code-input {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  border: 1px solid #eeeeee;
  outline: none;
  color: #000000;
  margin-top: 10px;
}

.toz {
  border: 1px solid red;
  outline: #009942;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  border: 1px solid #eeeeee;
  outline: none;
  color: #000000;
  margin-top: 10px;
}

.main-wrapper form button {
  width: 422px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(351.34deg, #d82300 6.95%, #d82300 93.76%);
  box-shadow: 0px 0px 8px rgba(130, 58, 58, 0.4);
  border-radius: 15px;
  font-size: 30px;
  color: white;
  margin-left: 25px;
  margin-top: 20px;
}

.img-wrap {
  position: absolute;
  max-width: 750.26px;
  width: 100%;
  right: 0;
  top: -167px;
}

.main-wrapper .error {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  gap: 10px;
  color: crimson;
  margin-bottom: 10px;
}

@media (max-width: 1115px) {
  .img-wrap {
    display: none;
  }

  .main-wrapper {
    justify-content: center;
  }
}
