

.navbar-wrapper{
    padding: 0px 3%;
    height: 137px;
    display: flex;
    
}

.navbar-wrapper img{
    max-width: 196px;
    max-height: 103px;
    margin-top: 20px;
}


@media (max-width: 1115px) {
    .navbar-wrapper{
        justify-content: center;
    }

    .hr{
       border-color: #41C2C4;
    }
}

