

.navbar-wrapper{
    padding: 0px 2%;
    height: 137px;
    padding-top: 10px;
}

.navbar-wrapper img{
    max-width: 196px;
    max-height: 103px;
}

.left{
    max-width: 300px;
    width: 100%;
}