body{
    max-width: 1370px;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    height: 100%;

}

@media (max-width: 530px) {
    body{
    background: linear-gradient(90deg, rgba(65,186,196,1) 0%, rgba(13,255,187,1) 54%, rgba(43,214,228,1) 100%);

    }
}