input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


body {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
  height: 100%;
}


